<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996259284948-4971q47enlarvi6nne9hcpajsr4dvt59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996259284948-4971q47enlarvi6nne9hcpajsr4dvt59</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996259284948-4sn9uqhnuqqgqdodbsclqeo0k0vqdsrj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Rz3yDSdHZs1EUjgsZlzamkOEXWeUvKw</string>
	<key>GCM_SENDER_ID</key>
	<string>996259284948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitHub</string>
	<key>PROJECT_ID</key>
	<string>fruit-hub-647ce</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-hub-647ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996259284948:ios:6f4caaf0bef14259903841</string>
</dict>
</plist>